{
   "server_id": {
        "blockUploadMinSize": 30,
        "logChannel": "channel_id",
        "whitelist": [
            "application/x-matroska",
            "video/quicktime",
            "video/mp4",
            "video/mpeg",
            "video/3gpp",
            "video/mp4",
            "video/x-matroska",
            "video/webm",
            "video/quicktime",
            "video/x-m4v",
            "audio/mp4",
            "audio/vnd.wave",
            "audio/mpeg",
            "audio/x-m4a",
            "audio/x-flac",
            "image/png",
            "image/jpeg",
            "image/png",
            "image/gif",
            "image/webp",
            "image/tiff",
            "image/bmp"
        ],
        "uploadableMimes": [
            "text/plain",
            "application/javascript",
            "application/json",
            "application/xml",
            "application/x-python-code",
            "text/x-python",
            "text/x-java-source",
            "text/x-java",
            "text/x-c",
            "text/x-csrc",
            "text/x-c++src",
            "text/html",
            "text/css",
            "application/x-httpd-php",
            "text/x.typescript",
            "application/x-ruby",
            "text/rust",
            "text/x-lua",
            "application/vnd.dart",
            "text/x-haskell"
        ]
    }
}
