{
    "server_id": {
        "logChannel": "channel_id",
        "whitelist": [
            "application/x-matroska",
            "video/quicktime",
            "video/mp4",
            "video/mpeg",
            "video/3gpp",
            "video/mp4",
            "video/x-matroska",
            "video/webm",
            "video/quicktime",
            "video/x-m4v",
            "audio/mp4",
            "audio/vnd.wave",
            "audio/mpeg",
            "audio/x-m4a",
            "audio/x-flac",
            "image/png",
            "image/jpeg",
            "image/png",
            "image/gif",
            "image/webp",
            "image/tiff",
            "image/bmp"
        ],
        "uploadableMimes": [
            "text/plain",
            "application/javascript",
            "application/xml",
            "application/x-python-code",
            "text/x-python",
            "text/x-java-source",
            "text/x-c",
            "text/html",
            "text/css",
            "application/x-httpd-php",
            "text/x.typescript",
            "text/rust",
            "text/x-lua",
            "application/vnd.dart"
        ]
    }
}